.cont-slider {
    display: flex;
    margin: 15px 0;

    button {
        background-color: #ffffff;
        border: none;
        font-size: 22px;
        color: #a5a5a5;
    }

    .slider {
        width: 80%;

        img {
            height: 100px;
            padding: 0 5px;
        }
    }
}
